<!DOCTYPE html>
<html lang="en" xmlns:align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    {% include 'navbar2.html' %}
    <body>
        <div class = 'container-fluid'>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="zaza.png" alt="Chania">
                </div>
                <div class="col-sm-4">
                    <h3>Column 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
            </div>
        </div>
    </body>
</head>
{% block content %}
    {% endblock %}
</html>