<!DOCTYPE html>
<html lang="en" xmlns:align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    {% include 'navbar2.html' %}
    <body>
        <div class = 'container-fluid'>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="../static/Images/zaza.png"/>
                </div>
                <div class='jumbotron'>
                    <h2>Mervin Lau</h2>
                    <p>Phone: 98765431
                    Accumulated Points: 10</p>
                </div>
            </div>
        </div>
    </body>
</head>
{% block content %}
    {% endblock %}
</html>