<!DOCTYPE html>
<html lang="en" xmlns:align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    {% include 'navbar2.html' %}
    <body>
        <div class = 'container-fluid'>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="../static/Images/zaza.png"/>
                </div>
                <div class = 'col-sm-8'>
                    <div class='jumbotron'>
                        <h2>Mervin Lau</h2>
                            <p>Hit me up if you need some rides. Driving from Yio Chu Kang to Hougang.</p>
                    </div>
                        <p>Contact Number: 98765432</p>
                        <p>Accumulated Points: 1023</p>
                </div>
            </div>
        </div>
    </body>
</head>
{% block content %}
    {% endblock %}
</html>