<!DOCTYPE html>
<html lang="en">
<head>
    {% include "navbar2.html"%}
    <meta charset="UTF-8">
    <title>Ride Details</title>
</head>
<body>
    <body>
        <div style="margin-left:210px" class = 'container-fluid'>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="../static/Images/zaza.png"/>
                </div>
                <div class = 'col-sm-8'>
                    <div class='jumbotron'>
                        <h2>Mervin Lau</h2>
                            <p>Hit me up if you need some rides. Driving from Yio Chu Kang to Hougang.</p>
                    </div>
                        <p>Contact Number: 98765432</p>
                        <p>Accumulated Points: 1023</p>
                </div>
            </div>
        </div>
    </body>

</body>
</html>
