{% extends "layout.html" %}
{% block body %}
    <script src = "https://maps.googleapis.com/maps/api/js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRwr7QqmukOvz-3unD8qHUR3KXk1O7-W0&callback=initMap"
  type="text/javascript"></script>
{% from "includes/_formhelper.html" import render_field %}

    <script>
         function loadMap() {

            var mapOptions = {
               center:new google.maps.LatLng(1.3783616,103.8506221),
               zoom:18,
               mapTypeId:google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("sample"),mapOptions);
         }

         google.maps.event.addDomListener(window, 'load', loadMap);
      </script>
<div class="container-fluid"></div>
<form method="POST" action="" style="padding-left: 300px;padding-top: 50px">
    <div class="form-group">
        <h1 style="margin-bottom:20px">Driver</h1>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ render_field(form.from_where, class_="form-control") }}
                </div>
                <div class=" col-md-8">
                        <div align="center" id = "sample" style = "width:1000px; height:500px;"></div>
                    </div>
          </div>

        </div>

        <div style="margin-top: -425px; margin-left: -15px">
        <div class="form-group" style="">
            <div class="form-group col-md-4">
                {{ render_field(form.to_where, class_="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md-4">
                {{ render_field(form.date, class_="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md-4">
                {{ render_field(form.time, class_="form-control") }}
            </div>
        </div>

        <div class="form-group">
                <div class="form-group col-md-4" style="margin-left: 432px">
                    <input type="submit" style="margin-left: -130px" value="Submit" class="btn btn-info"/>
                </div>
            </div>

        </div>
{% endblock %}


</form>
