{% include "navbar2.html" %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% from "includes/_formhelper.html" import render_field %}
    <script>
         function loadMap() {

            var mapOptions = {
               center:new google.maps.LatLng(1.3783617,103.8506221),
               zoom:11,
               mapTypeId:google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("sample"),mapOptions);
         }

         google.maps.event.addDomListener(window, 'load', loadMap);
      </script>
<div class="container-fluid"></div>
<form method="POST" action="" style="padding-left: 300px;padding-top: 50px">
        <div class="form-group col-md-4">
            {{ render_field(form.from_where, class_="form-control") }}
        </div>

        <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i> Map</div>
            <div class="card-body">
                <div align="center" id = "sample" style = "width:480px; height:300px;"></div>

            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>

        <div class="form-group">
            <div class="form-group col-md-4">
                {{ render_field(form.to_where, class_="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md-4">
                {{ render_field(form.date, class_="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md-4">
                {{ render_field(form.time, class_="form-control") }}
            </div>
        </div>

        <div class="form-group">
                <div class="form-group col-md-4" style="margin-left: 432px">
                    <input type="submit" value="Submit" class="btn btn-info"/>
                </div>
            </div>
        </div>

</form>
</div>