{% extends "layout.html" %}
{% block body %}
    <title>Rafuhitch - Create Ride Driver</title>
    <script src = "https://maps.googleapis.com/maps/api/js"></script>
    {#    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRwr7QqmukOvz-3unD8qHUR3KXk1O7-W0&callback=initMap"#}
    {#  type="text/javascript"></script>#}
    {% from "includes/_formhelper.html" import render_field %}

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript">
        var source, destination;
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();
        google.maps.event.addDomListener(window, 'load', function () {
            new google.maps.places.SearchBox(document.getElementById('txtSource'));
            new google.maps.places.SearchBox(document.getElementById('txtDestination'));
            directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });
        });

        function GetRoute() {
            var mumbai = new google.maps.LatLng(1.3801, 103.8490);
            var mapOptions = {
                zoom: 7,
                center: mumbai
            };
            map = new google.maps.Map(document.getElementById('dvMap'), mapOptions);
            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById('dvPanel'));

            //*********DIRECTIONS AND ROUTE**********************//
            source = document.getElementById("txtSource").value;
            destination = document.getElementById("txtDestination").value;

            var request = {
                origin: source,
                destination: destination,
                travelMode: google.maps.TravelMode.DRIVING
            };
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });

            //*********DISTANCE AND DURATION**********************//
            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix({
                origins: [source],
                destinations: [destination],
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.METRIC,
                avoidHighways: false,
                avoidTolls: false
            }, function (response, status) {
                if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                    var distance = response.rows[0].elements[0].distance.text;
                    var duration = response.rows[0].elements[0].duration.text;
                    var dvDistance = document.getElementById("dvDistance");
                    dvDistance.innerHTML = "";

                    dvDistance.innerHTML += "Duration:" + duration;

                } else {
                    alert("Unable to find the distance via road.");
                }
            });
        }
    </script>
    <div class="container-fluid"></div>

    <form method="POST" action="" style="padding-left: 300px;padding-top: 50px">
    <div class="form-group">
    <h1 style="margin-bottom:20px">Passenger</h1>
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ render_field(form.from_where, class_="form-control",type="text",value='nanyang polytechnic', id="txtSource") }}
        </div>
    </div>


    <div style=" margin-left: -15px">
        <div class="form-group" style="">
            <div class="form-group col-md-4">
                {{ render_field(form.to_where, class_="form-control",type="text",value='national university singapore', id="txtDestination") }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md-4">
                {{ render_field(form.date,type='date', class_="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md-4">
                {{ render_field(form.time,type='time', class_="form-control") }}
            </div>
        </div>
            <div class="form-group">
    <div class="form-group col-md-4">
        <table style='text-align:center'class="responsive-table-input-matrix table-bordered" id="dataTable"  cellspacing="0">
            <thead>
            <tr>

                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>

            </tr>
            </thead>
            <tbody>

            <tr>

                <td><input name = 'days' value='Monday' type="checkbox"></td>
                <td><input name = 'days' value='Tuesday' type="checkbox"></td>
                <td><input name = 'days' value='Wednesday' type="checkbox"></td>
                <td><input name = 'days' value='Thursday' type="checkbox"></td>
                <td><input name = 'days' value='Friday' type="checkbox"></td>
                <td><input name = 'days' value='Saturday' type="checkbox"></td>
                <td><input name = 'days' value='Sunday  ' type="checkbox"></td>

            </tr>
            </tbody>
        </table>
    </div>
    </div>





        <div class="form-group">
            <div class="form-group col-md-4" style="margin-left: 432px">
                <input type="submit" style="margin-left: -130px" value="Submit" class="btn btn-info"/>
                <input type="button" value="Get Route" onclick="GetRoute()" class="btn btn-info" />
            </div>
        </div>
        <div class=" col-md-8"style="margin-left: 550px;margin-top: -450px">
            <div id="dvDistance">
            </div>
            <div id="dvMap" style="width: 500px; height:500px">
            </div>

        </div>
    </div>
{% endblock %}


</form>
