<!DOCTYPE html>
<html lang="en" xmlns:align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    {% extends "layoutD.html" %}
    {% block body %}
        <meta charset="UTF-8">
        <title>Rafuhitch - Profile</title>
        <style>
            td, th {
                border: solid 1px #000;
                padding: 5px;
            }
        </style>
        </head>
        <body>
        -->
        <div style="margin-left:190px;margin-top:20px" class='container-fluid'>
            <div class="row">
                <div class="col-sm-4">
                   <img height=250px style="margin-left:50px" class="img-responsive"
                        src="http://a1.espncdn.com/combiner/i?img=%2Fphoto%2F2017%2F0515%2Fr209877_1296x729_16%2D9.jpg">
                </div>
                <div>
{#                    {% if filename %}#}
{#                        <img src="{{ filename }}">#}
{#                    {% else %}#}
{#                        <h1> no image found </h1>#}
{#                    {% endif %}#}
                </div>

                <div class='col-sm-6'>
                    <div style="margin-left:20px;">
                    <div class="jumbotron">
                     {% for driver in driverprofile %}
                    <h2>{{ driver[0] }}</h2>
                    {% endfor %}
                        <p>Hit me up if you need some rides. I drives a lot, especially from Ang Mo Kio to Jurong East
                            area. I think of myself as friendly and i want to earn money to eat.</p>
                        <br>

                        {% for driver in driverprofile %}
                            <p>Email: {{ driver[1] }}</p>

                            <p> Contact Number: {{ driver[2] }}</p>

                            <p>License Plate Number: {{ driver[3] }}</p>

                            <p>Car Model & Brand: {{ driver[4] }}</p>

                            <p>Reward points: {{ driver[5] }}</p>
                            <p>Find out more about Rewards Points <a href="/rewards">here</a> </p>
                        {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
    {% endblock %}
