<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome To Rafuhitch</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Rafuhitch</h1>
            <h2 class="masthead-content mb-0">Earn while you turn</h2>
            <a href="{{url_for('login')}}" class="btn btn-primary btn-xl rounded-pill mt-5">Sign Up Here!</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="../static/img/11.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Low cost to Luxuery</h2>
                    <p>For a low low price of $6 you can go wherever you want in Singapore! Economy cars at everyday
                        prices are always available. You can get the fastest alternative to travelling it is not only
                        cheap, but it's easy! On then other hand, if you want to join us to be a driver. Everytime you
                        travel to work or parties, you can earn some easy money for fuels and some snacks! What
                        are you waiting for? Join us by clicking the link above!

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="../static/img/12.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Anywhere, Anytime</h2>
                    <p>Daily drive to work. Doing errand across town. Catching a plane. Late night drinks. Wherever you’re headed,
                        count on Rafuhitch for a ride—no reservations required. We provide 24/7 services and you can travel/earn money
                    whereever you are, whenever it is!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="../static/img/h.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Easiest way around</h2>
                    <p>
                        One call and a car comes directly to you. Hop in! Your driver knows exactly where
                        you want to go. And when you get there, just step out. Payment is completely seamless
                    and it will always be $6, no matter the current day situation or timing!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="../static/img/111.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Reward System</h2>
                    <p>
                        Other than convenience and saving money. We have a reward system. Every passenger you
                    pick up, everything you travel with Rafuhitch. You get points. You might get bonus points
                    for picking people up at peak period and situations(Eg MRT breakdown area). With these points
                    you can redeem rewards for other companies. Companies includes the popular Yagufar and Amazoom.
                    Hurry up and start using Rafuhitch and earn points now!</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "includes/_footer.html"  %}
<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
