<!DOCTYPE html>
<html lang="en" xmlns:align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    {% extends "layout.html" %}
    {% block body %}
        <meta charset="UTF-8">
        <title>Rafuhitch - Profile</title>
        <style>
            td, th {
                border: solid 1px #000;
                padding: 5px;
            }
        </style>
        </head>
        <body>
        -->
        <div style="margin-left:190px;margin-top:20px" class='container-fluid'>
            <div class="row">
                <div class="col-sm-4">
                   <img height=250px style="margin-left:50px" class="img-responsive"
                        src="http://a1.espncdn.com/combiner/i?img=%2Fphoto%2F2017%2F0515%2Fr209877_1296x729_16%2D9.jpg">
                </div>
                <div>
{#                    {% if filename %}#}
{#                        <img src="{{ filename }}">#}
{#                    {% else %}#}
{#                        <h1> no image found </h1>#}
{#                    {% endif %}#}
                </div>

                <div class='col-sm-6'>
                    <div style="margin-left:20px;">
                    <div class="jumbotron">

                    {% for p in passenger %}
                        <h2>{{ p[0] }}'s Profile</h2>
                        <br>


                        <p>Email: {{ p[1] }}</p>

                        <p> Reward points: {{ p[2] }}</p>
                            <p>Find out more about Rewards Points <a href="/rewards">here</a> </p>
                        {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
    {% endblock %}
