{% extends "layout.html" %}
{% block body %}
    <title>Rafuhitch - Reward </title>

<div class="content-wrapper">
    <div class='col-sm-6'>
        <div class='jumbotron'>
            <h1>Rewards</h1>
            <p style="font-size: 25px;">As a RafuHitch partner, you get to enjoy exclusive access to special deals from the popular Yagufar and Amazoom!</p><br>

                <p style="font-size:30px;display: inline-block">Your Reward points: <a style="font-size:50px;display: inline-block">{{ points }}</a> </p>

        <br>

        <div style="display: inline">
            <h1>Get 10% off your next Amazoom purchase! - 100 Reward Points</h1>
            <a href="/redeem"><button type="button" class="btn btn-outline-dark" >Redeem now!</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

