{% extends "layout.html" %}
{% block body %}
    <title>Rafuhitch - Reward </title>

<div class="content-wrapper" style="text-align: center;margin-left: 450px;width: 1500px">
    <div class='col-sm-6' style="margin-left:1px ">
        <div>
            <h1 style="text-align: center">Rewards</h1>
            <p style="font-size: 25px;">As a RafuHitch partner, you get to enjoy exclusive access to special deals from the popular Yagufar and Amazoom!</p><br>
        <br>
        <h2>Rewards</h2>
            <div>
            <img src="../static/img/movie.jpg" style="border-style:solid;height: 200px;position:fixed;margin-top: 20px;margin-bottom:10px;margin-left: -480px" >
            <br>
            <p style="position:fixed;margin-top:205px;margin-left:-10px">100 Points per Ticket</p>

                </div>
            <div style="margin-left: -70px">
                <img src=../static/img/coupon.jpg style="height:200px; width: 350px;margin-top:-4px;position:fixed;border-style: solid;margin-left: -100px">
                <p style="position:fixed; margin-left: 330px; margin-top: 200px">50 points for $10 coupon for Amazoom</p>
            </div>
            <div style="margin-right: 72px">
                <img src="../static/img/shelll.jpg" style="position:fixed; height:200px;width: 350px;margin-left: 249px; margin-top:-4px;border-style: solid">
                <p style="position: fixed;margin-left: 640px; margin-top:200px">50 points for free car wash at shell</p>
            </div>
        <div style="display: inline">
<br>
            <a href="/redeem"><button style="position:fixed;margin-left: -260px;margin-top:210px" type="button" class="btn btn-outline-dark" >Redeem now!</button></a>
            <a href="/redeem"><button style="position:fixed;margin-left:70px;margin-top: 210px" type="button" class="btn btn-outline-dark" >Redeem now!</button></a>
            <a href="/redeem"><button style="position: fixed;margin-left: 430px;margin-top: 210px"type="button" class="btn btn-outline-dark" >Redeem now!</button></a>
                        <p style="text-align:center;margin-top: 280px;font-size:20px;display: inline-block">Your Reward points: <a style="font-size:20px;display: inline-block">{{ points }}</a> </p>

            </div>
        </div>
    </div>
</div>

{% endblock %}

