<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "layout.html"%}
    {%  block body %}
    <meta charset="UTF-8">
    <title>Ride Details</title>
</head>
    <body>
        -->
      <ol style="margin-left:250px" class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for("createridedriver")}}">Create a ride</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ url_for("listofridesP")}}">List of Rides</a>
        </li>
        <li class="breadcrumb-item active"> Ride Details</li>
      </ol>
        <div style="margin-left:190px;margin-top:20px" class = 'container-fluid'>
            <div class="row">
                <div class="col-sm-4">
                    <img height=250px style="margin-left:50px" class="img-responsive" src="http://a1.espncdn.com/combiner/i?img=%2Fphoto%2F2017%2F0515%2Fr209877_1296x729_16%2D9.jpg">
                </div>

                <div class = 'col-sm-6'>
                    <div class='jumbotron'>
                        <h5>Name: Mervin Lau</h5>
                        <br>
{#                        {%  for ride in listofridesp %}#}
                        <p>Starting Position: {{ ride.get_usertype() }}</p>  {#I HAVE NO IDEA WHY THEY ARE ALL MIXED UP  #}
                        <p>Destination: {{ ride.get_from_where() }}</p>  {#I HAVE NO IDEA WHY THEY ARE ALL MIXED UP  #}
                        <p>Date: {{ ride.get_to()}}</p>  {#I HAVE NO IDEA WHY THEY ARE ALL MIXED UP  #}
                        <p>Time: {{ ride.get_date() }}</p> {#I HAVE NO IDEA WHY THEY ARE ALL MIXED UP  #}
{#                    {% endfor %}#}
                        <a href="{{url_for('driverprofile')}}">Interested? Click here</a>
                         </div>

                </div>
            </div>
        </div>
    {% endblock %}
    </body>
</html>
